<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <ul>
      <% for (i=0; i<commitList.length;i++ ) { %>
        <li><%=commitList[i].html_url%></li>
        <button type="button" onClick="document.location = /">View recent commits</button>
      <% } %>
    </ul>
  </body>
</html>
